.override-1wazalj.ant-space-horizontal.ant-space-align-center {
    display: flex;
    align-items: center;
}

.ant-space.css-dev-only-do-not-override-1wazalj.ant-space-horizontal.ant-space-align-center img {
    width: 30px;
}